#BodyId {	
	border-left:258px solid #ffffff !important;
}

#ThemeEditor,
#EmailEditor {display:none;}
#ThemeEditor,
#EmailEditor,
.ui-widget {
	font:12px/15px "Lucida Sans Unicode",tahoma,verdana,sans-serif !important;
	color:#333 !important;
	text-decoration:none;
	text-transform:normal;
	font-style:none;
}

.ui-helper-clearfix {
    height: 47px;
    overflow: visible;
}
dl {
    margin: 0;
    padding: 0 !important;
}
.elementWrap div {
    vertical-align: middle;
}
.elementWrap {
	background:#f2f1f0;
    border-bottom: 1px solid #DDDDDD;
    clear: both;
    display: block;
    margin: 10px 0;
    padding: 4px;
    border-radius:4px;
    width:218px;
}
#sideBar .left {
    clear: both;
    display: block;
    float: left;
    height:auto;
    line-height: 15px;
    padding:0 0 4px;
    white-space:nowrap;
    width:auto;
}
dt {
    font-weight: bold;
    margin: 0;
    padding: 0;
}
dd {
    margin: 0;
    padding: 0 0 0 2em;
}
.ui-dialog .ui-state-error {
    padding: 0.3em;
}
.divField {
    padding:0 4px 10px;
}
.divField label {display:block;text-align:left;padding:0 5px 0 0;}
.divField input {width:100%;}
.headingWrap {
    border-bottom: 1px dashed #50535A;
    float: left;
    font-size: 11px;
    font-weight: normal;
    height: 27px;
    letter-spacing: 0.25px;
    padding: 4px 10px 0 3px;
    text-align: right;
    width: 80px;
}
.titleWrap {
    clear: both;
    color: #fff;
    display: block;
    font-size: 10px;
    font-weight: bold;
    padding:5px 10px 5px;
    line-height:14px;
    text-transform: uppercase;
    height:auto;
    float:none;
    background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    border-bottom:1px solid #d2d1d0;
    margin:0 0 10px;
    border-radius:4px 4px 0 0;
}
.colorWrap {
    clear: both;
    display: block;
    height: 27px;
    margin: 0;
    overflow: hidden;
    padding: 3px 0;
    width: 195px;
}
.inputWrap {
    float: right;
    height: auto;
}
input.color {
    background: url("http://developer.guidecreative.com/scripts/SparkCaddy/v1/images/selectbbcolors.png") no-repeat;
    border-width: 0;
    float: right;
    font-size: 11px;
    height: 22px;
    padding: 0 4px 0 43px;
    width:53px;
}
.fontWrap {
    clear: both;
    display: block;
    margin: 0;
    padding: 1px 0 5px;
    width: 100%;
    z-index: 10002;
}
.fontWrap li a {
    color: #000000 !important;
}
.fontList li {
    border-bottom: 1px dashed #666666;
    padding: 3px 0;
    width: auto;
    z-index: 2000;
}
.fontList dd, .fontList dt, .fontList ul {
    margin: 0;
    padding: 0;
}
.fontList dd {
    position: relative;
    z-index: 2000;
}
.fontList dt a {
    background: url("http://developer.guidecreative.com/scripts/SparkCaddy/v1/images/droparrow.gif") no-repeat scroll 185px 4px #FFFFFF;
    border: 1px solid #999999;
    color: #000000 !important;
    display: block;
    padding: 3px 46px 3px 7px;
    text-decoration: none !important;
    width: 155px;
    text-transform:capitalize;
}
.fontList dt a span {
    cursor: pointer;
    display: block;
    padding: 5px;
}
.fontList dd ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #666666;
    display: none;
    height: 195px;
    list-style: none outside none;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    position: absolute;
    width: 183px;
    z-index: 2000;
}
.fontList span.value {
    display: none;
}
.fontList dd ul li a {
    color: black;
    display: block;
    font-size: 16px;
    padding: 1px 5px;
    text-decoration: none !important;
}
.imgList li {
    border-bottom: 1px dashed #E4E4E4;
    width: 245px;
}
.imgList dd, .imgList dt, .imgList ul {
    margin: 0;
    padding: 0;
}
.imgList dd {
    position: relative;
}
.imgList dt a {
    background: url("http://developer.guidecreative.com/scripts/SparkCaddy/v1/images/droparrow.gif") no-repeat scroll 170px 4px #FFFFFF;
    border: 1px solid #999999;
    color: #E4E4E4;
    display: block;
    padding: 1px 16px 3px 7px;
    text-decoration: none !important;
    width: 170px;
}
.imgList dt a span {
    cursor: pointer;
    display: block;
    padding: 5px;
}
.imgList dd ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E4E4E4;
    display: none;
    height: 95px;
    list-style: none outside none;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    position: relative;
    width: 183px;
}
.imgList span.value {
    display: none;
}
.imgList dd ul li a {
    color: black;
    display: block;
    font-size: 16px;
    padding: 1px 5px;
    text-decoration: none !important;
}
.fontsz .fontszr {
    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 1px dotted #ccc !important;
    height: 22px !important;
    color:#333!important;
    margin-right: 3px;
    position: relative !important;
    text-align: left;
    vertical-align: bottom !important;
    width: 40px !important;
}
.fontszup {
    background: url("http://developer.guidecreative.com/scripts/SparkCaddy/v1/images/fszrup.png") no-repeat center center #e2e1e0;
    border: 0 none;
	border-bottom:1px solid #c2c1c0;
    height:12px;
    margin: 0;
    position: absolute;
    right: 0;
    text-indent: -50000px;
    top: 0;
    padding:2px;
}
.fontszdown {
    background: url("http://developer.guidecreative.com/scripts/SparkCaddy/v1/images/fszrdown.png") no-repeat center center #e2e1e0;
    border:0;
    border-bottom:1px solid #c2c1c0;
    bottom: 4px;
    margin: 0;
    height:12px;
    position: absolute;
    right: 0;
    text-indent: -50000px;
    padding:2px;
    top:14px;
}
.fontsz {
    float: right;
    height: 24px;
    position: relative;
    width: 68px;
    z-index: 1;
}
p.fszrpx {
    bottom: 1px;
    display: block;
    float: right;
    padding: 0 !important;
    position: relative;
    right: 24px;
    vertical-align: bottom;
    
    display:none;
}
.buttonWrap {
    float: right;
    height: 27px;
    width: auto;
}
button {
    background: none repeat scroll 0 0 #e2e1e0;
    border:0;
    border-bottom: 2px solid #b2b1b0;
    color: #212121;
    font-size: 12px !important;
    margin: 0 2px 0 0;
    padding:0 5px;
    line-height:21px;
    text-align: center;
    float:left;
    border-radius:3px;
    cursor:pointer;
}
button.bold {
    font-family: Arial;
    font-size: 13px;
    font-weight: 900;
    position: relative;
}
#buttonWrap {
    display: block;
    float: left;
    font-family: "Arial Black";
    height: 27px;
}
button.active {
    background: none repeat scroll 0 0 #FFFFFF;
    border:1px solid #c2c1c0;
    color: #000000;
    box-shadow:0 1px 2px #CCCCCC inset;
}
button.italic {
    font-style: italic;
}
button.underline {
    text-decoration: underline;
}
#sideBar p, #tabs2 p {
    line-height:15px;
    margin-bottom: 0;
    padding: 0;
}
#sideBar a, #tabs2 a {
    font-size: 12px!important;
    font-weight: normal;
    text-decoration: none;
}
h2 {
    clear: both;
    margin-top: 0;
    padding-top: 1.5em;
}
.strike {
    text-decoration: line-through;
}
#sideBar .right {
    clear: right;
    display: block;
    float: right;
    height:auto;
    line-height: 15px;
    padding:0 0 4px;
}
.jspContainer {
    position: relative;
}
.jspPane {
    position: absolute;
}
.jspVerticalBar {
    background: none repeat scroll 0 0 black;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 9px;
}
.jspVerticalBar * {
    margin: 0;
    padding: 0;
}
.jspTrack {
    background: none repeat scroll 0 0 #50535A;
    position: relative;
}
.jspDrag {
    background: none repeat scroll 0 0 #FFFFFF;
    cursor: pointer;
    left: 0;
    position: relative;
    top: 0;
}
.jspArrow {
    background: none repeat scroll 0 0 #50506D;
    cursor: pointer;
    display: block;
    text-indent: -20000px;
}
.jspArrow.jspDisabled {
    background-color: #80808D;
    cursor: default;
    opacity: 0.5;
}
.jspVerticalBar .jspArrow {
    height: 8px;
}
.jspVerticalBar .jspArrow:focus {
    outline: medium none;
}
.jspArrowUp {
    background: url("arrows.gif") no-repeat scroll left top transparent;
}
.jspArrowDown {
    background: url("arrows.gif") no-repeat scroll left bottom transparent;
}
.advanced p {
    color: #DDDDDD;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    padding: 0 0 3px;
}
.advanced {
    height: 27px;
    padding: 5px;
    text-align: center;
}
.advanced button {
    border: 1px solid #999999;
    color: #CCCCCC;
    font-size: 11px;
    height: auto;
    letter-spacing: 1px;
    margin: 0;
    padding: 1px 0 1px 1px;
    width: auto;
}
.subTitleWrap {
    clear: both;
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 0 5px;
    text-align: center;
    text-transform: none;
}
.textWrap .right {
    width: 130px;
}
.textWrap .left {
    float: left;
    text-align: right;
    width: 60px;
}
.textWrap .right input[type="text"],
.control input[type="text"] {
    background-color: #FCFCFC;
    border: 1px solid #999999;
    box-shadow: 2px 2px 2px #E4E4E4;
    width: 120px;
}
.text .fontWrap {padding:8px 0 0;}
.emailTemplates {
    margin: 5px auto;
    padding: 0;
    width: 100%;
}
.advanced.email {
}
.advanced.email button {
    color: #FFFFFF;
    margin-top: 15px;
    padding: 5px;
}
.editable {
    border: 1px solid #BBBBBB;
    height: 401px;
    margin-bottom: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: pre-line;
    width: 100%;
}
html, body, * html #sideBar {
    height: 100%;
}
#sideBar {
    background:#f2f1f0;
    left: 0;
    max-height: 100%;
    min-height: 100%;
    overflow: auto;
    position: fixed !important;
    top: 0;
    width: 252px;
    z-index: 2000;
    padding:0 4px 0 0;
    border-right:1px solid #ccc;
}
#tabs2 {
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    margin: 25px auto;
    overflow: hidden;
    padding: 10px 12px;
    width: 576px;
}
#sideBar .gutter {}
.ui-tabs-nav li {
    display: block;
}
#tabs {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    margin: 0;
    max-height: 100%;
    min-height: 100%;
    padding: 0;
    width: 230px;
}
.ui-tabs-nav li a {
    background:#d2d1d0;
    border-color: -moz-use-text-color #888888 -moz-use-text-color -moz-use-text-color !important;
    border-style: none solid none none !important;
    border-width: 0 1px 0 0 !important;
    font-size: 13px !important;
    margin: 0 1px 2px !important;
    padding: 7px 7px 6px 8px !important;
    text-transform: uppercase;
    border-radius:5px 5px 0 0;
    color:#999;
    display:block;
}
.ui-tabs-nav li.ui-state-active, .ui-tabs-nav li.ui-state-hover {
    background: none repeat scroll 0 50% transparent;
    border-color: -moz-use-text-color -moz-use-text-color #2EAAE6 !important;
    border-style: none none solid !important;
    border-width: 0 0 2px !important;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {color:#888;}
#tabs2 .ui-tabs-panel {
    float: right;
    padding: 0;
    width: 400px;
}
#tabs2 #requestInner {
    border: 0 none !important;
    padding: 5px 0;
}
#tabs3 {
    background:#fff;
    border: 0 none;
    margin: 0;
    padding: 4px;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-radius:0;
}
.imgList img {
    width: 170px;
}
.emailHeader {
    background-color: #959563;
    padding: 10px;
}
.ui-tabs-nav li {
    display: block;
    float:left;
    margin: 0 !important;
    top: 0 !important;
}
#tabs2 ul {
    float: left;
    width: 170px;
}
#tabs2 ul li {
    background: none repeat scroll 0 0 #666666;
    border-left: 0 none !important;
    border-right: 0 none !important;
    border-top: 0 none !important;
    clear: both;
    display: block;
    height: auto;
    white-space: normal;
    width: 100%;
}
#tabs2 ul li a {
    background: none repeat scroll 0 0 #666666;
    border-bottom: 2px solid #FFFFFF !important;
    border-left: 0 none !important;
    border-right: 0 none !important;
    margin: 0 !important;
    padding: 6px 13px 7px !important;
    white-space: normal;
    width: 144px;
}
#tabs2 ul li.ui-tabs-selected, #tabs2 ul li:hover {
    border-color: -moz-use-text-color -moz-use-text-color #2EAAE6 !important;
    border-style: none none solid !important;
    border-width: 0 0 2px !important;
    padding: 0;
}
#tabs3 ul li.ui-tabs-selected, #tabs3 ul li:hover {
    border-color: -moz-use-text-color -moz-use-text-color #2EAAE6 !important;
    border-style: none solid solid none !important;
    border-width: 0 0 4px !important;
}
#tabs2 ul li.ui-tabs-selected a, #tabs2 ul li:hover a {
    border-color: -moz-use-text-color !important;
    border-style: none !important;
    border-width: 0 !important;
}
#tabs2 ul li.ui-tabs-selected a {
    font-weight: bold;
}
#tabs3 ul li.ui-tabs-selected a, #tabs3 ul li:hover a {
	background:#f2f1f0;
	color:#333;
}
#tabs3 ul li.ui-tabs-selected a {
    margin-bottom: 1px !important;
}
#tabs3 .ui-tabs-nav {
    background: none repeat scroll 0 50% transparent;
    border: 0 none;
    float: left;
    padding:0!important;
}
#tabs3 .ui-tabs-panel, #tabs .ui-tabs-panel {
    clear: both;
    display: block;
    padding: 0 !important;
}
#tabs3 ul li {
    border-left: 0 none !important;
    border-right: 0 none !important;
    border-top: 0 none !important;
}
#tabs3 #saveChanges,
#tabs3 #setDefault {display:block;float:right;margin:8px 0 10px 0;color:#fff;font-size:12px!important;font-weight:bold;padding:4px;border-radius:5px;text-decoration:none;text-align:center;background: #9dd53a; /* Old browsers */background: -moz-linear-gradient(top,  #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */background: linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */}
#tabs3 #setDefault {background:#666;float:left}
#theme1tools,
#theme2tools,
#theme3tools {display:none;}
.formWrap {border:1px dashed #ccc;padding:4px;}

#EmailContentPreview {padding:0 0 50px;margin:15px 0 30px;border-bottom:1px solid #e2e1e0;text-align:center;float:left;width:100%;clear:both;}
#EmailContentPreview > table {background:#fff;margin:0 auto;text-align:left;box-shadow:0 0 10px #888;}
#EmailContentViewer {padding:0 0 30px;float:left;width:100%;}
#EmailContentCompiler {visibility:hidden;height:1px;}
#EmailContentViewer ul.emailContentMenu {list-style:none;margin:0;padding:0;float:left;}
#EmailContentViewer ul.emailContentMenu li {clear:left;display:inline;float:left;width:230px;padding:0;margin:0 0 2px;}
#contentPrimary #EmailContentViewer ul.emailContentMenu li a {display:block;padding:8px;color:#fff!important;background:#333;font-weight:normal;text-decoration:none;border-radius:5px 0 0 5px;}
#contentPrimary #EmailContentViewer ul.emailContentMenu li a:hover,
#contentPrimary #EmailContentViewer ul.emailContentMenu li.selected a {background:#fff!important;color:#333!important;border-left:4px solid #ccc;}
#EmailContentViewer ul.emailContentMenu li.title {font-weight:bold;padding:8px 0 2px;}
#EmailContentWrapper {float:left;width:525px;background:#f2f1f0;padding:4px;border-radius:4px;border-bottom:1px solid #e2e1e0;margin:0 0 30px 15px;}
#EmailContentPane {min-height:550px;border:1px solid #ccc;padding:8px;font-size:11px;line-height:17px;background:#fff;}

.emailContentPreviewMenu {margin:0 0 20px;padding:10px 10px 0;list-style:none;float:left;width:100%;background:#f2f1f0;border-radius:10px;border-top:1px solid #e2e1e0;}
.emailContentPreviewMenu li {float:left;display:inline;margin:0;padding:0;border-right:2px solid #f2f1f0;}
#contentPrimary .emailContentPreviewMenu li a {border-top:3px solid #555;border-left:1px solid #555;border-right:1px solid #555;display:block;padding:8px 12px;background:#555;color:#fff!important;text-decoration:none!important;border-radius:5px 5px 0 0;}
#contentPrimary .emailContentPreviewMenu li a:hover,
#contentPrimary .emailContentPreviewMenu li.selected a {background:#fff!important;color:#333!important;border-color:#d2d1d0;}
.emailContentPreviewMenu .menuTitle {display:block;float:none;padding:0 0 5px;font-weight:bold;font-size:14px;border-right:0;}